

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400&display=swap');


*{
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;

}

.container{
    background-color: cornflowerblue;
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #2d4068;
    
}

input{
    width: 400px;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
}
ul{
    padding-left: 0;
}

li{
    list-style: none;
    background-color: rgba(17, 17, 59, 0.486);
    text-align: start;
    padding: 13px;
    height: 70px;
    margin: 15px;
    border-radius: 10px;
    font-size: 18px;
    box-shadow: 1px 3px 10px #05243a;
    display: flex;
    justify-content:baseline;
    align-items: center;
    gap: 1rem;

       
}

p{
    flex-grow: 1;
    overflow: auto;
}

